body{
    background: #b0b0b0;
}

.container{
    display: flex;
    justify-content: center;
    
   
    
}

#calculator{
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-content: center;
    gap:5px;
    box-shadow: inset;
    width:300px;
    height:450px;
}

.calc-btn{
    text-align: center;
    font-size: 24px;
    padding: 20px 30px;
    margin: 3px;
    background: #fff;
    border: 0;
    box-shadow: 0 1px 2px rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    border-radius: 10px;;
}

#display{
    grid-column: 1 / span 4;
    text-align: right;
    min-height: 25px;
}

#equals{
    grid-column: 1 / span 3;
}